# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin

app/menu.json
app/sala.json
app/src/main/resources/ImmaginiPietanze
